<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instagrama.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D81B5F671F0308BA00198EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D81B5F7B1F0308BA00198EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D81B5F861F0308BA00198EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
